@model List<Schedule>

<!-- Schedule Section -->
<section class="page-section" id="schedule">
    <div class="container">
        <h2 class="text-center mt-0">Розклад чергувань</h2>
        <hr class="divider my-4">

        <!-- Пошукова стрічка -->
        <form action="/schedule-for-one" method="GET" class="d-flex justify-content-center mb-4">
            <input type="text"
                   name="name"
                   class="form-control w-50 me-2"
                   placeholder="Введіть ім'я військового..."
                   required>
            <button type="submit" class="btn btn-primary">Пошук</button>
        </form>

        <!-- Кнопка генерації -->
        <div class="table-responsive">
            <form method="post">
                <button asp-action="GenerateSchedule" type="submit" class="btn btn-primary my-2">Згенерувати новий розклад</button>
            </form>

            <!-- Таблиця -->
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Тип</th>
                        <th scope="col">Ім'я</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var obj in Model) {
                        <tr>
                            <th scope="row">@obj.Id</th>
                            <td>@obj.Date</td>
                            <td>@obj.Type</td>
                            <td>@obj.SoldierName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @* <script> *@
    @*     document.getElementById('generateScheduleBtn').addEventListener('click', function () { *@
    @*         console.log("Button clicked! Sending request..."); // Логування *@

    @*         fetch('/generate-schedule', { *@
    @*           method: 'POST', *@
    @*           headers: { *@
    @*             'Content-Type': 'application/json' *@
    @*           } *@
    @*         }) *@
    @*         .then(response => response.json()) *@
    @*         .then(data => { *@
    @*             console.log("Response received:", data); // Логування відповіді *@
    @*             alert(data.message || "Розклад успішно згенеровано!"); *@
    @*             window.location.reload(); *@
    @*         }) *@
    @*         .catch(err => console.error('Error:', err)); *@
    @*     }); *@

    @* </script> *@
</section>
